<label>Item Title</label>
<input class='input-field' placeholder='Title' name='title'>

<label>Box ID</label>
<input class='input-field' placeholder='Y05' name='box_id' ng-model='box.id' id='box_id'>

<label>Description</label>
<input class='text-area' placeholder='Item Description' name='description'>

<label>Sale Type</label>
<div>
    <select name='sale_type' class='browser-default'>
        <option value='Buy it now'>Buy it now</option>
        <option value='Auction'>Auction</option>
    </select>
</div>

<label>Make</label>
<input class='input-field' placeholder='Apple' name='make'>

<label>Current State</label>
<div>
    <select name='current_state' class='browser-default'>
        <option value='Sellable'>Sellable</option>
        <option value='Fixable'>Fixable</option>
        <option value='For Parts'>For parts</option>
        <option value='For own use'>For own use</option>
    </select>
</div>

<label>Estimated Price</label>
<div>
    <h5 style='display:inline;'>€</h5>
    <input style='display:inline; width:20%;' type='number' min='0' step='0.01' name='est_price'>
</div>

<div>
    <div img-upload method='POST', url='/image/upload'></div>
</div>
