<div class='row'>
    <div class='col s12 m8 offset-m2'>
        <h3>Create a new item</h3>

        <label>Item Title</label>
        <input class='input-field' placeholder='Title'>

        <label>Box ID</label>
        <input class='input-field' value='{{box.id}}' placeholder='Y05'>

        <label>Description</label>
        <input class='text-area' placeholder='Item Description'>

        <label>Sale Type</label>
        <div class='input-field'>
            <select>
                <option>Buy it now</option>
                <option>Auction</option>
            </select>
        </div>

        <label>Make</label>
        <input class='input-field' placeholder='Apple'>

        <label>Current State</label>
        <div class='input-field'>
            <select>
                <option>Sellable</option>
                <option>Fixable</option>
                <option>For parts</option>
                <option>For own use</option>
            </select>
        </div>

        <label>Estimated Price</label>
        <div>
            <h5 style='display:inline;'>€</h5>
            <input style='display:inline; width:20%;' type='number' min='0'>
            <h5 style='display:inline;'>.</h5>
            <input style='display:inline; width:20%;' type='number' style='width:20%;' min='0' max='99'>
        </div>

        <div>
            <input class="fileUpload" type="file" multiple />
            <div class="dropzone">
                <p class="msg">Click or Drag and Drop files to upload</p>
            </div>
            <!-- <div class="preview clearfix">
                <div class="previewData clearfix" ng-repeat="data in previewData track by $index">
                    <img src={{data.src}}></img>
                    <div class="previewDetails">
                        <div class="detail"><b>Name : </b>{{data.name}}</div>
                        <div class="detail"><b>Type : </b>{{data.type}}</div>
                        <div class="detail"><b>Size : </b> {{data.size}}</div>
                    </div>
                    <div class="previewControls">
                        <span ng-click="upload(data)" class="circle upload">
                            <i class="fa fa-check"></i>
                        </span>
                        <span ng-click="remove(data)" class="circle remove">
                            <i class="fa fa-close"></i>
                        </span>
                    </div>
                </div>	
            </div>
        </div> -->
        <a class='btn right' ng-click='saveData()'>Save</a>

    </div>
</div>
